@media only screen and (max-width:450px) {

    .nav {
        padding: 5px 1.4rem;
    }

    .nav_center,
    .nav_end .day_night_icon {
        display: none;
        border: none;
    }

    .nav_start {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: row;
        column-gap: 1.5rem;
    }

    .nav_start svg {
        display: flex;
        height: 20px;
        width: 20px;
    }

    .nav_end {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        margin-right: .5rem;
    }

    .nav_end button[type="submit"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        padding: 0.7rem 1rem;
        column-gap: 3px;
        font-weight: 600;
        border-radius: 6px;
    }

    .social_icons {
        display: flex;
        flex-direction: column;
        flex-basis: auto;
    }

    .introduction {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: auto;
        margin: 25px;
    }

    .introduction .intro_img {
        width: 100%;
    }

    .introduction .intro_img img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
    }

    .introduction .intro_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
    }

    .introduction .intro_text h1#name {
        width: 35%;
        font-size: 28px;
        font-weight: 600;
        line-height: 2.1rem;
        margin-right: auto;
    }

    .introduction .intro_text #tagline {
        font-size: 18px;
        width: 60%;
        line-height: 25px;
        text-align: left;
        margin-right: auto;
        margin-top: 10px;
    }

    .introduction .intro_text button[type="submit"] {
        width: auto;
        margin-right: auto;
        font-size: 10px;
        column-gap: 5px;
    }



}
