:root {
  --deepGreen: #0d9488;
  --defaultColor: #1f2937;
  --navColor: #e5e6e6;
  --defaultFontSize: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Poppins", "sans-serif";
  text-decoration: none;
  color: var(--defaultColor);
  scrollbar-width: none;
}

body {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

nav {
  width: 100%;
  background-color: var(--navColor);
  height: 76px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  position: sticky;
  top: 0;
}

.nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2.5%;
}

.nav_start,
.nav_center,
.nav_end {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_start {
  justify-content: flex-start;
  padding-left: 1rem;
  width: 32%;
}

.nav_start svg {
  display: none;
}

.logo {
  width: 100%;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 620;
}

.menu {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: row; */
}

.nav_center span {
  display: flex;
  align-items: center;
  gap: 3px;
  color: rgb(18, 18, 18);
  font-size: 0.9rem;
}

.nav_center span:focus {
  color: var(--deepGreen);
  text-decoration: underline;
}

.nav_end {
  width: 30%;
  justify-content: flex-end;
  overflow: hidden;
  height: 100%;
}

.day_night_icon {
  display: flex;
  margin-right: 10px;
  padding: 3px 6px;
  border-radius: 50px;
  border: 1px solid black;
  cursor: pointer;
}

.material-symbols-outlined {
  padding: 0 5px;
}

.nav_end button {
  padding: 12px 18px;
  border-radius: 10px;
  outline: hidden;
  background-color: var(--navColor);
  border: 1px solid #dfdfdf;
  color: var(--deepGreen);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 15px;
  /* box-shadow: 1px 1px 5px 1px rgb(41, 42, 41); */
}

.briefcaseIcon {
  color: var(--deepGreen);
}

.nav_end button:hover {
  transition: all 200ms ease-in;
  background-color: #00000017;
}

.gradiant_bg {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #a4a6a740, white);
  z-index: -9999;
  position: absolute;
  top: 0;
}

.introduction {
  display: flex;
  margin: 50px;
  justify-content: space-around;
  height: 500px;
  overflow: hidden;
}

.introduction .intro_img {
  width: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction .intro_img img {
  width: clamp(180px, 35vw, 400px);
  height: auto;
  border-radius: 50%;
}

.introduction .intro_text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.introduction .intro_text h1#name {
  font-size: clamp(28px, 4vw + 0.5rem, 3.75rem);
}

.introduction .intro_text #tagline {
  font-size: clamp(18px, 3vw, 30px);
  line-height: 2.25rem;
  font-weight: 500;
}

.introduction .intro_text p {
  margin: 12px 0 25px 0;
  font-size: 16px;
}

.color_highlight,
.introduction .intro_text p span,
.introduction .intro_text #tagline span {
  color: var(--deepGreen);
}

.introduction .intro_text button {
  padding: 15px 30px;
  background-color: #e5e6e6b3;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.introduction .intro_text button a,
.introduction .intro_text button a path {
  font-size: 14px;
  color: var(--deepGreen);
  font-weight: bold;
}

.introduction .intro_text button a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.sec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: clamp(28px, 3vw + 0.3rem, 36px);
  font-weight: 700;
}

.tittle_desc {
  font-size: clamp(16px, 2.5vw, 20px);
  padding: 10px 0 12px 0;
}

.front_end_icon {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
}

.line {
  width: 90%;
  margin-bottom: 15px;
}

.line_footer {
  width: 100%;
  margin-bottom: 15px;
}

.flex_col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my_skills {
  margin-bottom: 20px;
}

.my_skills .lang_icon {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 15px;
}

.my_skills .lang_icon img {
  padding: 10px;
}

.skill_icon {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  object-fit: cover;
  background-position: center;
}

.institution_timeline {
  padding: 2.5rem;
  margin: 0 101px;
  height: auto;
}

.Study {
  display: grid;
  width: 60vw;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 10px;
}

.current .text,
.SSC .text {
  text-align: right;
}

.middleLine .fa-circle-check {
  margin: 0 auto;
}

.middleLine hr {
  height: 100%;
  width: 4px;
  background-color: #dfdfdfd5;
  margin: 0 auto;
  border: none;
  margin-top: -6px;
}

.text .institution_name h2 {
  font-family: "Poppins";
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 15px;
}

.empty_for_future {
  padding: 5.5rem;
  margin: 0 101px;
  padding-top: 0;
  width: auto;
  height: auto;
  /* text-align: justify; */
}

.send_message #send_msg {
  max-height: 75vh;
  height: auto;
  min-width: 340px;
  width: 40%;
  box-shadow: 1px 2px 4px #94919152;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.send_message #send_msg label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

.send_message #send_msg input,
.send_message #send_msg textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #dacbcbac;
  margin-bottom: 10px;
  border-radius: 5px;
  outline-color: royalblue;
}

.send_message #send_msg input[type="button"] {
  border: none;
  width: 70%;
  margin: 0 auto;
  background-color: #e5e6e6b3;
  color: var(--deepGreen);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

footer {
  background-color: var(--navColor);
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

footer .contactInfo {
  row-gap: 35px;
}

.contact_details {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact_details h2 {
  font-size: 22px;
  font-weight: 750;
  color: var(--defaultColor);
  margin-bottom: 8px;
}

.contact_details p {
  font-size: 13px;
  padding-bottom: 5px;
}

.social_icons {
  display: flex;
  flex-direction: row;
  column-gap: 35px;
}

.fixedSubHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contactInfo .fixedSubHead img {
  margin: 0;
}

.my_projects {
  padding: 2.5rem;
  padding-top: 0;
  height: auto;
}

.project1 {
  display: flex;
  gap: 20px;
}

.outside_desc {
  display: none;
}

.project_image {
  width: 50%;
  height: auto;
  object-fit: cover;
  background-position: center;
  box-shadow: 2px 4px 20px 2px #00000021;
  border-radius: 10px;
}

.project_desc {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.project_title h1 {
  font-weight: 800;
  font-size: clamp(22px, 2vw + 0.5rem, 3rem);
}

.project_title h2 {
  font-weight: 700;
  font-size: clamp(16px, 1vw + 8px, 20px);
  margin-bottom: 20px;
}

.outside_desc h2 {
  margin-bottom: 0;
}

.project_desc .project_btn {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

.project_desc .project_btn a {
  background-color: #e5e6e6;
  color: var(--deepGreen);
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
}
